@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000000;
  --background-hex: #FFEAC5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: 255, 255, 255;
    --background-hex: 90, 74, 12;
  }
} */

*:not(.hoverable) {
  cursor: none !important;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.8em;
  line-height: 1.5;
}

body {
  color: var(--foreground-hex);
  background-color: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#custom-cursor {
  position: absolute;
  width: 2px;
  height: 20px;
  background: black;
  animation: blink 0.75s step-end infinite;
  z-index: 1;
}

.desktop-divide>:nth-child(3n + 2) {
  border-left: 4px solid black;
  border-right: 4px solid black;
  padding: 0.5rem 1rem;
}

.rich-text ul {
  list-style-type: disc;
  margin-left: 16px;
}
.rich-text h2 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 0.5rem 0;
}
.rich-text h3 {
  font-size: 1.75rem;
  line-height: 1.3;
  font-weight: 700;
  padding: 0.5rem 0;
}
.rich-text h4 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
  padding: 0.5rem 0;
}
.rich-text h5 {
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 700;
  padding: 0.5rem 0;
}
.rich-text code {
  padding: 0.25rem;
  background-color: #FFDBB5;
  color: #000000;
}
.rich-text pre {
  padding: 1.5rem 3rem;
  background-color: #FFDBB5;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.rich-text pre code {
  padding: 0;
  background-color: transparent;
  color: #000000;
}
.rich-text thead tr {
  color: #FFFFFF;
  background-color: #987070;
}
.rich-text tbody tr:nth-child(odd) {
  background-color: #C39898;
}
.rich-text tbody tr:nth-child(even) {
  background-color: #DBB5B5;
}
.rich-text th,
.rich-text td {
  padding: 0.5rem;
}
.rich-text hr {
  border-color: #000000;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
